@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .slider-text h1>.creative {
         font-size: 54px;
         font-family: 'lato-regular', sans-serif;
         color: #fff;
      }
     .slider-text h1>.design_agency {
         font-size: 54px;
         font-family: 'lato-regular', sans-serif;
         color: #fff200;
     }
     .slider-text {
         margin-top: -58px;
         margin-left: 45px;
         letter-spacing: 4px;
     }
     .slider-text-description>p {
         font-size: 16px;
         font-family: 'lato-regular', sans-serif;
         text-align: center;
         margin-left: -3px;
         letter-spacing: 0.6px;
         margin-top: 52px;
         line-height: 29px;
     }
     .slider-text {
         margin-top: -70px;
         margin-left: 15px;
         letter-spacing: 4px;
     }
     .carousel-control .fa-angle-right,
     .carousel-control .fa-angle-left {
         position: absolute;
         top: 50%;
         z-index: 5;
         display: inline-block;
     }
     .carousel-control img[alt='left'] {
         left: 50%;
         margin-top: 370px;
         margin-left: 50px;
     }
     .carousel-control img[alt='right'] {
         left: 50%;
         margin-top: 370px;
         margin-left: -120px;
     }
     #first-slider .carousel-indicators {
         bottom: 0;
         display: block;
         margin: 45px;
         margin-left: -250px;
     }
     
     .carousel-inner .item .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
   
}

     /*NAVBAR*/
     .navbar-default {
         height: 70px;
         background-color: #ffffff !important;
     }
     .navbar_upqode_nav {
         margin-top: 10px;
     }
     @font-face {
         font-family: beyno;
         src: url(../fonts/beyno/beyno.otf);
     }
     @font-face {
         font-family: lato-regular;
         src: url(../fonts/Lato/Lato-Regular.ttf);
     }
     .logo span {
         font-family: beyno;
         font-size: 30px;
         font-weight: bold;
         letter-spacing: 1px;
     }
     .qode {
         color: #009dda;
     }
     .up {
         color: #503392;
     }
     .navbar>.container .navbar-brand,
     .navbar>.container-fluid .navbar-brand {
         margin-left: 28px;
         margin-top: -15px;
     }
     .navbar_upqode_nav {
         margin-top: 10px;
         margin-left: 170px;
         font-family: 'Lato', sans-serif;
         font-size: 16px;
     }
     .navbar_upqode_nav>li>a {
         margin-left: 26px;
         letter-spacing: 1px;
     }
     .navbar-form>.input-group >.search-box {
         border: none;
         background-color: #e8e4f1;
         border-radius: 0px;
         margin-top: 16px;
         margin-left: 9px;
     }
     .navbar-toggle {
         margin-top: 15px;
     }
     .dropdown-menu {
         width: 200px;
         background-color: rgba(0, 0, 0, 0.6);
         border-top: 4px solid #fff200;
         margin-left: 23px;
     }
     .dropdown-menu >li>a {
         color: #fdfdfd;
         font-family: 'Lato', sans-serif;
         font-size: 14px;
         margin-top: 25px;
     }
     .dropdown-menu >li>a:hover {
         color: #fff200;
         background-color: rgba(0, 0, 0, 0);
     }
     .dropdown_sub_menu {
         position: absolute;
         margin-left: 197px;
         margin-top: -80px;
         color: #fdfdfd;
         font-family: 'Lato', sans-serif;
         font-size: 14px;
     }
     .dropdown_sub_menu >li>a:hover {
         color: #fff200;
         background-color: rgba(0, 0, 0, 0);
     }
     /*<!--Why choose us-->*/
     .h1_why_choose_us {
         /*    margin-top: 115px;*/
         margin-top: 100px;
         /*    margin-left: 335px;*/
         margin-left: -26px;
         letter-spacing: 2px;
         font-family: 'Lato', sans-serif;
         font-weight: bold;
         font-size: 35px;
         text-align: center;
         
     }
     .h1_why_choose_us.why {
         color: #232323;
     }
     .choose_us {
         color: #009dda;
     }
     .description {
         /*    margin-top: 55px;*/
         margin-top: 25px;
         /*    margin-left: 265px;*/
         margin-left: -3px;
         letter-spacing: 1px;
         line-height: 1.5;
         /*Интерлиньяж */
         font-family: 'Lato', sans-serif;
         font-size: 14px;
         text-align: center;
         color: #999999;
         
         
     }
     /*Block information*/
     .information {
         margin-top: 75px;
         margin-bottom: 90px;
         padding-top: 13px;
         margin-left: -17px;
         overflow: hidden;
         
     }
     .block {
         width: 200px;
         height: 270px;
         margin-right: 34px;
         border: 2px solid #ebebeb;
         margin-top: 20px;
         overflow: hidden;
         
     }
     .block_flag {
         width: 200px;
         height: 270px;
         border: 2px solid #ebebeb;
         margin-top: 20px;
         margin-left: 350px;
     }
     img[alt="Heart"] {
         margin: 35px 53px 30px;
     }
     img[alt="Mail"] {
         margin: 37px 55px 30px;
     }
     img[alt="Desctop"] {
         margin: 38px 53px 30px;
     }
     img[alt="Star"] {
         margin: 31px 58px 30px;
     }
     img[alt="Flag"] {
         margin: 35px 60px 30px;
     }
     p.your_title {
         margin-top: 19px;
         color: #232323;
         text-align: center;
         font-family: 'Lato', sans-serif;
         font-weight: 800;
         letter-spacing: 1px;
         font-size: 14px;
         
     }
     p.text_for__title {
         margin-top: 18px;
         color: #6c6c6c;
         text-align: center;
         font-family: 'Lato', sans-serif;
         font-weight: 300;
         letter-spacing: 1px;
         font-size: 14px;
         
     }
     .text__marg_desctop {
         margin-top: 26px;
         color: #232323;
         text-align: center;
         font-family: 'Lato', sans-serif;
         font-weight: 800;
         letter-spacing: 1px;
         font-size: 14px;
         
     }
     .text__marg_star {
         margin-top: 22px;
         margin-left: 6px;
         
     }
     .text__marg_flag {
         margin-top: 19px;
         margin-left: 8px;
         
     }
     /*Map and contact form*/
     #mapkit-2008 {
         height: 633px;
         margin: 0;
         padding: 0;
     }
     .contact-form {
         width: 650px;
         padding-top: 88px;
         margin-left: 150px;
         margin-top: -540px;
         background-color: rgba(26, 26, 26, 0.9);
     }
     #send_btn {
         width: 120px;
         height: 50px;
         color: black;
         border: none;
         border-radius: 0px;
         margin-right: 209px;
         margin-top: -3px;
         background-color: #ffff00;
         font-family: lato-regular;
     }
     #email {
         width: 170px;
         height: 50px;
         border: 2px solid #9a9999;
         font-size: 16px;
         margin-left: -100px;
         border-radius: 0px;
         background-color: black;
     }
     #name {
         width: 170px;
         height: 50px;
         font-size: 16px;
         border: 2px solid #9a9999;
         margin-left: 50px;
         border-radius: 0px;
         background-color: black;
         font-family: lato-regular;
     }
     #message {
         height: 140px;
         width: 345px;
         margin-left: 50px;
         border: 2px solid #9a9999;
         background-color: black;
         border-radius: 0px;
         font-size: 16px;
         font-family: lato-regular;
     }
     .contact_form_text-box_wrapper {
         width: 180px;
         position: absolute;
         top: 83px;
         right: 23px;
         color: #a8a8a8;
         font-size: 16px;
     }
     .contact_form_text-box2 {
         margin-top: 29px;
     }
     /*<!-- Block Our products-->*/
     .bg__block_products {
         background: url(../img/bg_our_products.jpg) no-repeat;
         background-size: cover;
         /*    height: auto;*/
         /*    height: 847px;*/
         height: 100%;
         width: 100%;
     }
     .bg__our_products {
         background: url(../img/overlay2.png) no-repeat;
         background-size: cover;
         background-position: center;
         /*    height: auto;*/
         height: 175px;
         /*    margin-bottom: 155px;*/
         margin-bottom: 100px;
     }
     .h1__our_products {
         /*    margin-top: 48px;*/
         padding-top: 59px;
         letter-spacing: 2px;
         font-family: 'Lato', sans-serif;
         font-weight: bold;
         font-size: 35px;
         text-align: center;
     }
     #myCarousel2 .indicators {
         margin-left: -500px;
     }
     .h1_our {
         color: #ffffff;
     }
     .h1_products {
         color: #ffff00;
     }
    
    
     /*   !!!! title_blocks */
    
/*
     .wrapper__for_title123::after,
     .wrapper__for_title456::after,
     .title_wrapper::after {
         clear: both;
         content: " ";
         display: block;
     }
*/
    
     .title1_block,
     .title2_block,
     .title4_block,
     .title5_block {
         float: left;
         margin: 0 45px 2px 0;
         width: 335px;
         height: 145px;
     }
     .title3_block,
     .title6_block {
         float: left;
         width: 335px;
         height: 145px;
     }
    .title1_block{
/*        margin-left: 8px;*/
        margin-left: 60px;
    }
    
     .title2_block {
         margin: 0 54px 100px 128px;
     }
      .title3_block {
         margin: 0 45px 100px 60px;
     }
     .title4_block {
         margin: 0 54px 100px 128px;
     }
     .title5_block {
         margin: -7px 45px 95px 60px;
     }
    
     .title6_block {
/*
         margin-left: 85px;
         margin-bottom: 295px;
*/
          margin: 0 54px 100px 128px;
     }
     img[alt="title1"],
     img[alt="title2"],
     img[alt="title3"],
     img[alt="title4"],
     img[alt="title5"],
     img[alt="title6"] {
         float: left;
         /*    margin-right: 25px;*/
         margin-right: 22px;
     }
     img[alt="title2"] {
         padding-top: 8px;
     }
     .h3_title {
         color: #232323;
         margin-right: 15px;
         /*    padding-top: 25px;*/
         padding-top: 5px;
         font-family: 'Lato', sans-serif;
         font-weight: 800;
         letter-spacing: 1px;
         font-size: 24px;
     }
     .text__best_product {
         margin-bottom: 12px;
         /*    margin-bottom: 20px;*/
         color: #503392;
         font-family: 'Lato', sans-serif;
         font-weight: 400;
         /*    letter-spacing: 1px;*/
         font-size: 16px;
     }
     .description_product {
         color: #676767;
         font-family: 'Lato', sans-serif;
         font-weight: 300;
         font-size: 14px;
         /*
    letter-spacing: 2px;
    line-height: 1.5;
*/
     }
     .title4_block>.h3_title,
     .title6_block>.h3_title {
         padding-top: 0;
     }
    
}