* {
    margin: 0;
    padding: 0;
}


/*NAVBAR*/

.navbar-default {
    height: 70px;
    background-color: #ffffff !important;
}

.navbar_upqode_nav {
    margin-top: 10px;
}

@font-face {
    font-family: beyno;
    src: url(../fonts/beyno/beyno.otf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

.logo span {
    font-family: beyno;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.qode {
    color: #009dda;
}

.up {
    color: #503392;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 228px;
    margin-top: -15px;
}

.navbar_upqode_nav {
    margin-top: 10px;
    margin-left: 330px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.navbar_upqode_nav>li>a {
    margin-left: 26px;
    letter-spacing: 1px;
}

.navbar-form>.input-group >.search-box {
    border: none;
    background-color: #e8e4f1;
    border-radius: 0px;
    margin-top: 16px;
    margin-left: 9px;
}

.navbar-toggle {
    margin-top: 15px;
}

.dropdown-menu {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 4px solid #fff200;
    margin-left: 23px;
}

.dropdown-menu >li>a {
    color: #fdfdfd;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 25px;
}

.dropdown-menu >li>a:hover {
    color: #fff200;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown_sub_menu {
    position: absolute;
    margin-left: 197px;
    margin-top: -80px;
    color: #fdfdfd;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.dropdown_sub_menu >li>a:hover {
    color: #fff200;
    background-color: rgba(0, 0, 0, 0);
}

 

 

/*<!--Why choose us-->*/

.h1_why_choose_us {
    /*    margin-top: 115px;*/
    margin-top: 100px;
    /*    margin-left: 335px;*/
    margin-left: -26px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.h1_why_choose_us.why {
    color: #232323;
}

.choose_us {
    color: #009dda;
}

.description {
    /*    margin-top: 55px;*/
    margin-top: 25px;
    /*    margin-left: 265px;*/
    margin-left: -3px;
    letter-spacing: 1px;
    line-height: 1.5;
    /*Интерлиньяж */
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #999999;
}


/*Block information*/

.information {
    margin-top: 75px;
    margin-bottom: 90px;
    padding-top: 13px;
    /*    padding-left: 140px;*/
    margin-left: -27px;
}

.block {
    width: 200px;
    height: 270px;
    margin-right: 34px;
    border: 2px solid #ebebeb;
}

.block_flag {
    width: 200px;
    height: 270px;
    border: 2px solid #ebebeb;
}


/*
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
*/

img[alt="Heart"] {
    margin: 35px 53px 30px;
}

img[alt="Mail"] {
    margin: 37px 55px 30px;
}

img[alt="Desctop"] {
    margin: 38px 53px 30px;
}

img[alt="Star"] {
    margin: 31px 58px 30px;
}

img[alt="Flag"] {
    margin: 35px 60px 30px;
}

 


 
 

p.your_title {
    margin-top: 19px;
    color: #232323;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
}

p.text_for__title {
    margin-top: 18px;
    color: #6c6c6c;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
}

.text__marg_desctop {
    margin-top: 26px;
    color: #232323;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
}

.text__marg_star {
    margin-top: 22px;
    margin-left: 6px;
}

.text__marg_flag {
    margin-top: 19px;
    margin-left: 8px;
}


/*<!-- Block Our products-->*/

.bg__block_products {
    background: url(../img/bg_our_products.jpg) no-repeat;
    background-size: cover;
    /*    height: auto;*/
/*    height: 847px;*/
    height: 100%;
    width: 100%;
}

.bg__our_products {
    background: url(../img/overlay2.png) no-repeat;
    background-size: cover;
    background-position: center;
    /*    height: auto;*/
    height: 175px;
    /*    margin-bottom: 155px;*/
    margin-bottom: 100px;
}

.h1__our_products {
    /*    margin-top: 48px;*/
    padding-top: 59px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

#myCarousel2 .indicators {
    margin-left: -500px;
}

.h1_our {
    color: #ffffff;
}

.h1_products {
    color: #ffff00;
}


/*   !!!! title_blocks */

.wrapper__for_title123::after,
.wrapper__for_title456::after,
.title_wrapper::after {
    clear: both;
    content: " ";
    display: block;
}

.title1_block,
.title2_block,
.title4_block,
.title5_block {
    float: left;
    /*    margin: 0 45px 100px 0;*/
    margin: 0 45px 112px 0;
    width: 335px;
    height: 145px;
}

.title2_block {
    margin: 0 54px 100px 8px;
}

.title4_block {
    margin-bottom: 95px;
}

.title5_block {
    margin: -7px 45px 95px 5px;
}

.title3_block,
.title6_block {
    float: left;
    width: 335px;
    height: 145px;
}

.title6_block {
    margin-left: 15px;
    margin-bottom: 95px;
}

img[alt="title1"],
img[alt="title2"],
img[alt="title3"],
img[alt="title4"],
img[alt="title5"],
img[alt="title6"] {
    float: left;
    /*    margin-right: 25px;*/
    margin-right: 22px;
}

img[alt="title2"] {
    padding-top: 8px;
}

.h3_title {
    color: #232323;
    margin-right: 15px;
    /*    padding-top: 25px;*/
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24px;
}

.text__best_product {
    margin-bottom: 12px;
    /*    margin-bottom: 20px;*/
    color: #503392;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /*    letter-spacing: 1px;*/
    font-size: 16px;
}

.description_product {
    color: #676767;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    /*
    letter-spacing: 2px;
    line-height: 1.5;
*/
}

.title4_block>.h3_title,
.title6_block>.h3_title {
    padding-top: 0;
}

 
/*   !!!! title_blocks */

.wrapper__for_title123::after,
.wrapper__for_title456::after,
.title_wrapper::after {
    clear: both;
    content: " ";
    display: block;
}

.title1_block,
.title2_block,
.title4_block,
.title5_block {
    float: left;
    /*    margin: 0 45px 100px 0;*/
    margin: 20px 45px 112px 0;
    width: 335px;
    height: 145px;
}
    
    .title4_block {
        
        /*    margin: 0 45px 100px 0;*/
    margin: 60px 45px 112px 0;
    }

.title2_block {
    margin: 0 54px 100px 8px;
}

.title4_block {
    margin-bottom: 95px;
}

.title5_block {
    margin: -7px 45px 95px 5px;
}

.title3_block,
.title6_block {
    float: left;
    width: 335px;
    height: 145px;
}

.title6_block {
    margin-left: 15px;
    margin-bottom: 95px;
}

img[alt="title1"],
img[alt="title2"],
img[alt="title3"],
img[alt="title4"],
img[alt="title5"],
img[alt="title6"] {
    float: left;
    /*    margin-right: 25px;*/
    margin-right: 22px;
}

img[alt="title2"] {
    padding-top: 8px;
}

.h3_title {
    color: #232323;
    margin-right: 15px;
    /*    padding-top: 25px;*/
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 24px;
}

.text__best_product {
    margin-bottom: 12px;
    /*    margin-bottom: 20px;*/
    color: #503392;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /*    letter-spacing: 1px;*/
    font-size: 16px;
}

.description_product {
    color: #676767;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    /*
    letter-spacing: 2px;
    line-height: 1.5;
*/
}

.title4_block>.h3_title,
.title6_block>.h3_title {
/*    padding-top: 20px;*/
}
}

 
 
/*Map and contact form*/

#mapkit-2008 {
    height: 633px;
    margin: 0;
    padding: 0;
}

.contact-form {
    width: 950px;
    padding-top: 88px;
    margin-left: 117px;
    margin-top: -540px;
    background-color: rgba(26, 26, 26, 0.9);
}

#send_btn {
    width: 120px;
    height: 50px;
    color: black;
    border: none;
    border-radius: 0px;
    margin-right: 366px;
    margin-top: -3px;
    background-color: #ffff00;
    font-family: lato-regular;
}

#email {
    width: 240px;
    height: 50px;
    border: 2px solid #9a9999;
    font-size: 16px;
    margin-left: -170px;
    border-radius: 0px;
    background-color: black;
}

#name {
    width: 240px;
    height: 50px;
    font-size: 16px;
    border: 2px solid #9a9999;
    margin-left: 50px;
    border-radius: 0px;
    background-color: black;
    font-family: lato-regular;
}

#message {
    height: 140px;
    width: 495px;
    margin-left: 50px;
    border: 2px solid #9a9999;
    background-color: black;
    border-radius: 0px;
    font-size: 16px;
    font-family: lato-regular;
}

.contact_form_text-box_wrapper {
    width: 180px;
    position: absolute;
    top: 83px;
    right: 123px;
    color: #a8a8a8;
    font-size: 16px;
}

.contact_form_text-box2 {
    margin-top: 29px;
}

 
 

/*<!--    Copyright block -->*/

.bg_copyright {
    height: 60px;
    background: #1a1a1a;
}

.copyright__text {
    float: left;
    width: 365px;
    padding-top: 20px;
    margin-left: 30px;
    text-align: left;
    color: #7a7a7a;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.wrapper__for_icons {
    padding-top: 20px;
    margin-right: 30px;
    text-align: right;
}

img[alt="dribbble"] {
    margin-left: 23px;
}

img[alt="twitter"] {
    margin-left: 23px;
}

img[alt="googleplus"] {
    margin-left: 28px;
}

 
 

